.parrafo   {
    font-size: 32px;
    color: #605F5F;
    margin-block: 3em;
}
.titulo{
    font-size: 32px;
    color: black;
    font-weight: 700;
    text-align: center;
}
.redes-section{
    background-color:#EFF5F8 ;
    
}
.redes-texto{
   text-align: center;
   font-weight: bold;
    font-size: 24px;
    margin-top: 5em;


}
.redes-iconos{
    display: flex;
    justify-content: space-around;
    
    width: 25%;
    margin: auto;margin-block: 5em;
}
iframe{
    margin-bottom: 50px;
   
}
