.textos{
    font-size: 30px;
    color: #605F5F;
}
.pacto{
    background: #EFF5F8;
    margin-bottom: 4em;
}

.tarjeta{
    background: white;
    border-radius: 10px;
    margin-block: 10px;
    text-align: center;
    
}
.tarjeta-titulo{
    padding: 10px;
    font-size: 20px;
}
.tarjeta-titulo span{
    color: #F2BD02;
    font-weight: 700;
}
