.links{
    text-decoration: none;
    text-decoration-color: #117035;
    color: #33BB67;
}
.links:hover{
    text-decoration: none;
    text-decoration-color: #117035;
    color: #1a814d;
}
.emails{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #33BB67;
}
.emails:hover{
    text-decoration: none;
    color: #1a814d;
}
.titles{
    font-weight: 700;
}
